services:
  # 1. REDIS (The Queue Storage)
  redis:
    image: redis:alpine
    container_name: actplt_redis
    ports:
      - "6379:6379"
    networks:
      - app_network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5


      

networks:
  app_network:
    driver: bridge
